EXPO_PUBLIC_SUPABASE_URL=https://awuxchnanlkcwceuxbpd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3dXhjaG5hbmxrY3djZXV4YnBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1ODgzOTUsImV4cCI6MjA4OTE2NDM5NX0.OdDNnu_26sPrtUagoyEBhfgLuRGCRFSxMJz9Dl-QTPs

# AdMob (demo ID'leri ile çalışır; yayınlamadan önce kendi ID'lerini koy)
EXPO_PUBLIC_ADMOB_APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713
EXPO_PUBLIC_ADMOB_APP_ID_IOS=ca-app-pub-3940256099942544~1458002511
EXPO_PUBLIC_ADMOB_BANNER_AD_UNIT_ID=ca-app-pub-3940256099942544/6300978111
